{% extends 'main/base.html' %}

{% load static %}

{% block content %}

<!-- Account Section -->
<section class="page-section bg-primary myAccount-picture" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h1>
                    AHOY
                </h1>
                <h2>
                    {{ user.first_name }}, {{ user.name }}
                </h2>
            </div>
        </div>
    </div>
</section>

<!-- Information Section -->
<section class="page-section wrapper" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h3> Your email address :</h3>
                <h2 style="font-weight:bold;">{{ user.email }}</h2>
            </div>
        </div>
    </div>
</section>

{% endblock %}
