@font-face {
    font-family: Georgia, serif;
    font-weight: normal;
    font-style: normal;
}

.library-Générales [class^="icon-"], .library-Générales [class*="icon-"] {
    font-family: Georgia, serif;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: Georgia, serif;
    font-weight: normal;
    font-style: normal;
}

.library-Icônes-de-Colette-et-Remy [class^="icon-"], .library-Icônes-de-Colette-et-Remy [class*="icon-"] {
    font-family: Georgia, serif;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}